<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=AZELEN-PC\SQLEXPRESS;Initial Catalog=Users;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="UsersDB" value="CL_Users"/>
    <add key="GroupsDB" value="CL_Groups"/>
    <add key="LessonsDB" value="CL_Lessons"/>
    <add key="TestsDB" value="CL_Tests"/>
    <add key="TestQuestionsDB" value="CL_TestQuestions"/>
    <add key="TestAnswersDB" value="CL_TestAnswers"/>
    <add key="MarksDB" value="CL_Marks" />
    <add key="LabsDB" value="CL_Labs"/>
    <add key="PracticeDB" value="CL_Practice"/>
    <add key="IndividualsDB" value="CL_Individuals"/>
  </appSettings>
</configuration>